h2{
	margin-left: 2em;
	text-align: justify;
}
.jumbotron{
	max-width: 70%;
}
li{
	list-style: none;
}
h3, h5{
	text-align: center;
}
h3{
	font-size: 3em;
}
.table{
	margin-left: 30em;
	width: 50%;
}
label{
    color: #fff;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    h3, h5{
      text-align: center;
    }
    #uf .table{
    	margin-left: 2em;
    	width: 60%;
    }
}